<!DOCTYPE html>
<html>
  <head>
      <title>四人幫</title>
      <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
      <link rel='stylesheet' href='/stylesheets/all.css'>
      <link rel='stylesheet' href='/stylesheets/animate.css'>
      <link rel='stylesheet' href='/stylesheets/profile.css'>
      <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
      <script src="/components/jquery/dist/jquery.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.10/angular.min.js"></script>
      <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="/components/wowjs/dist/wow.min.js"></script>
      <script>new WOW().init();</script>
      <script>
      document.getElementById("file").onchange = function() {
          document.getElementById("photo_form").submit();
          alert('loooo');
      </script>
  </head>
  <body>

    <%-include ../layout/login-nav %>
    <%-include ../layout/Register_Login %>
    <div class="main">
      <div class="container profile">
        <div class="info">
         <div class="left-part">
            <div class="leftwrapper">
              <div class="photo">
                <li>
                  <div class="item" style="background-image: url(<%= photo_url %>); background-size:contain;">
                    <div class="selphie-info">
                      <form id="photo_form" action="/profile/upload" method="post" enctype="multipart/form-data">
                          <input id="file" type="file" name="img">
                          <a href="#" ><i class="glyphicon glyphicon-camera"></i>更新大頭貼</a>
                      </form>
                    </div>
                  </div>
                </li>
              </div>
              <div class="name">
                <%= name %>
              </div>
            </div>
            <!--Tab & Pills-->
            <ul class="nav nav-pills nav-stacked nav-tabs">
              <li class="active"><a data-toggle="tab" href="#about-me"><span class="glyphicon glyphicon-user"></span>關於我</a></li>
              <li><a data-toggle="tab" href="#resume"><span class="glyphicon glyphicon-file"></span>我的履歷</a></li>
            </ul>
         </div>
         <div class="right-part">
           <div class="tab-content">
             <div id="about-me" class="tab-pane fade in active">
             <form action="/profile/edit/about" method="post">
               <h3>姓名：<%= name %></h3>
               <h3>生日：1994年11月25日</h3>
                   <h3 style="display:inline-block;">Email:</h3>
                   <% if(email) { %>
                       <input style="padding-left: 10px;" type="email" value="<%= email %>" name="email">
                   <% } else {  %>
                       <input type="email" placeholder="請輸入Email" name="email">
                   <% } %>
                   <input type="submit" value="修改資料">
               <!-- <a type="submit" class="btn"> <i class="glyphicon glyphicon-check"></i>修改資料</a> -->
            </form>
            </div>
            <div id="resume" class="tab-pane fade">
                <h3>個人簡介:</h3>
                <div>
                    <span>積極學習，願意嘗試任何挑戰！</span>
                    <i class="glyphicon glyphicon-pencil"></i>
                </div>
                <h3>學習歷程：</h3>
                <div class="line"></div>
                <p>國立台灣大學 資訊管理學系(在學中)</p>
                <h3>工作經驗：</h3>
                <div class="line"></div>
                <p>陳立數學輔導老師</p>
                <h3>個人成就：</h3>
                <div class="line"></div>
                <p>在大二那年參加政大生活創客黑客松比賽在三天內架好了網站還有摸了一些java然後寫出一個android版本的app獲得評審的肯定。那幾天幾乎是挑戰自己的極限沒日沒夜討論跟努力趕出作品。
                </p>
                <h3>過往作品：</h3>
                <div class="line"></div>
                 <a class="work-link" href="#">詳細履歷 </a>
            </div>
         </div>
       </div>
       </div>
      </div>
    </div>

    <%- include ../layout/footer %>
  </body>
</html>
